@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = "Home Page";
}
@model BankMillenniumTask.Models.FormDto

<!DOCTYPE html>
<html>
<head>
 <style>

<div class="text-center">
    <h1 class="display-4">@localizer["Welcome"]</h1>
</div>


</style>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
</head>
<body>
    @Html.ActionLink(localizer["Go to Form"].Value, "Create", "Form")
</body>
</html>